# Procesamiento de datos

### Ejercicio a realizar en clase

**08/11/2021**

In [1]:
import zipfile as zp # para descomprimir archivos zip
import urllib.request # para descargar de URL
import os
import pandas as pd
import numpy as np

### 1. Descarga del dataset

In [3]:
# descargar del dataset MovieLens 
url = 'http://files.grouplens.org/datasets/movielens/ml-1m.zip'  
local_zip = os.path.join("datasets", "ml-1m.zip")
urllib.request.urlretrieve(url, local_zip)
# para descomprimir un archivo zip
with zp.ZipFile(local_zip, 'r') as zipp: 
    print('Extracting all files...') 
    zipp.extractall(os.path.join("datasets")) # donde se guarda
    print('Done!')

Extracting all files...
Done!

In [4]:
root_path = os.path.join("datasets", "ml-1m" )

ratings = pd.read_csv(os.path.join(root_path, "ratings.dat"), sep='::',
                                index_col=0, engine='python',
                                names=['UserID','MovieID','Rating','Timestamp'])

users = pd.read_csv(os.path.join(root_path, "users.dat"),sep='::',
                              index_col=0, engine='python',
                              names=['UserID','Gender','Age','Occupation','Zip-code'])

### 2. Comprobación de que se ha cargado bien

### 3. Combina los datasets de ratings y users cruzando por una columna común y compruba que se ha hecho bien el cruce

¿merge, join, concat? ¿left,right, inner?

### 4. Carga el dataset de movies descargado previamente y combínalo con el anterior (combined_dataset)

### Pivot Tables
- Representar los datos en función a varios parámetros, agregando
```python
pivot_table(<lista de valores>, index=<agregador primario>, columns=<agregador secundario>)
```
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html

In [5]:
all_dataset.pivot_table('Rating', index='Gender', columns='Age')

NameError: name 'all_dataset' is not defined

### 5. Crea una pivot table a partir de la tabla Ratings para calcular la media y el total de ratings por edad y género

###  Agrupaciones
- agg -> funciones estadísticas de agregación
- Series.unique() -> valores únicos
- pd.value_counts -> ocurrencias

### Manipulación de strings
```python
split(): separar en bloques en función de un carácter
replace(): reemplazar un carácter por otro
index(): encontrar la posición de un carácter
```

### 6. Obtener todos los géneros por separado y crear un dataset de géneros. Indicar el género de cada película por separado

### 7. Unir con el dataset original

### 8. Extraer el año de la película y eliminar el año de la columna Title

**Aplicar la función anterior para crear una nueva columna Year**

**Crear una función remove_year para eliminar el año de la columna Title y utilizarla**

###  Operaciones con colecciones
```python
reduce: aplicar una operación y retornar un valor
map: aplicar  una operación y retornar una secuencia
filter: retorna una secuencia con elementos que cumplen una condición
```


### Reduce
- Aplicar una operación matemática a cada uno de los elementos de una colección
- Diferente de 'apply()' porque retorna un valor numérico
- Ejemplo: Detección de géneros en años específicos

https://docs.python.org/3/library/functools.html

In [ ]:
from functools import reduce # necesario para reduce

lista = [1, 3, 5, 7, 9]
print(reduce(lambda x,y: x + y, lista))

**¿Las películas de 1975 son todas comedias?**

### Revisar pq da error

**¿Hay peliculas del oeste en 1980?**

### Filter
- Devuelve una secuencia con elementos que cumplen una determinada condición
- Ejemplo: obtener las películas de 1975 que contienen 'A' en el título

### Map
- Aplica una operación y devuelve una secuencia
- Cambiar el valor integral de la columna 'Comedy' por bool

**Obtener las películas que tienen la palabra the en el título**

### Map

# Hablemos de fútbol

**Cargar la tabla Golden Globe**, que contiene la siguiente información:

La tabla contiene la siguiente información:

- **Año:** Año del galardón
- **Primero:** Nombre y equipo del ganador
- **Puntos primero:** Puntuación obtenida del primer clasificado
- **Segundo:** Nombre y equipo del segundo
- **Puntos segundo:** Puntuación obtenida del segundo clasificado
- **Tercero:** Nombre y equipo del tercero
- **Puntos tercero:** Puntuación obtenida del tercero clasificado

In [ ]:
# Por el sistema de puntuación del premio, solo un jugador puede ser el ganador, 
# pero puede haber empates entre segundo y tercero.
# Localizar si hay empates y crear una fila adicional por cada empate (utiliza la función explode)

In [ ]:
# Crea la columna Season a partir de Año. Es decir si el año es 1980, Season será 1979-1980

In [ ]:
# Convierte las puntuaciones en float