In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.model_selection import train_test_split

In [2]:
ruta = os.path.join("datasets", "Advertising.csv")
fichero = open(ruta)
data_1 = pd.read_csv(ruta)
fichero.close()

ruta = os.path.join("datasets", "airfoil_self_noise.dat")
fichero = open(ruta)
data_2 = pd.read_csv(ruta, sep="\t", names = ["frequency", "angle_of_attack", "chord_length",
                                                 "free_stream_velocity", "Suction_thickness", "pressure_level"])
fichero.close()

# Carga de datos.
dataset = datasets.fetch_california_housing(as_frame=True)
data_3 = dataset.data
data_3['Value'] = dataset.target

In [ ]:
print(np.shape(data_1))
print(np.shape(data_2))
print(np.shape(data_3))

In [ ]:
#data_3.isnull().sum()
#data_2.info()
#data_1.describe()

In [ ]:
for col in data_1.columns:
    pct_missing = np.mean(data_1[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
    data_1[col].fillna(np.mean(np.mean(data_1[col])),inplace=True)
    data_1[col].isnull().sum()

In [10]:
def limpieza(datasets):
    for dataset in datasets:
        #print(np.shape(dataset))

        #Quitar nulos por la media
        for col in data_1.columns:
            pct_missing = np.mean(data_1[col].isnull())
            #print('{} - {}%'.format(col, round(pct_missing*100)))
            data_1[col].fillna(np.mean(np.mean(data_1[col])),inplace=True)
            data_1[col].isnull().sum()

        
        train, test = train_test_split(data_1, test_size=0.2)

In [11]:
datasets = [data_1, data_2, data_3]
limpieza(datasets)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [20]:
data_1.iloc[:,-1]
data_1.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9